body {
  background-image: url("http://img.wallpaperfolder.com/f/6B3A4D52BE6B/welcome-thailand-travel-information-about.jpg") ;
  background-repeat: round;
}

#obm {
  border: 3px solid cyan;
  width: 1300px;
  height: 150px;
  margin: auto;
  background-color: #808080;
  text-decoration: underline;
  text-shadow: 1px 1px #D3D3D3;
}

#ob {
  color: #FFD700;
  text-align: center;
  margin-left: 90px;
  font-weight: bolder;
  font-size: 35px;
  font-family: cursive;
  word-spacing: 5px;
  padding: 16px 16px 18px 10px;
}

img {
  height: 150px;
  width: 150px;
  margin: auto;
}

#con1 {
  border: 3px solid cyan;
  width: 1300px;
  height: 370px;
  text-align: center;
  margin: auto;
  background-color:	#808080;
  text-decoration: none;
  text-shadow: 1px 1px #B22222;
}

#conn {
  color: #9400D3;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  font-variant: normal;
  font-family: monospace;
  word-spacing: 10x;
  padding: 5px 5px 5px 5px;
}

#con2 {
  border: 3px solid cyan;
  width: 1300px;
  height: 500px;
  text-align: center;
  background-color:	#808080;
  text-decoration: none;
  display: block;
  margin: auto;
}

#con2 p {
  color: #9400D3;
  background-color:	#B8860B;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  font-variant: normal;
  font-stretch: condensed;
  font-family: serif;
  word-spacing: 5px;
  padding: 10px 11px 11px 3px;
}

#dw1 {
  height: 45px;
  width: 200px;
  margin: 1px 2px 2px 2px;
}

#dw2 {
  height: 45px;
  width: 200px;
}

#x1 {
  height: 150px;
  width: 500px;
}

#search {
  width: 100px;
  height: 50px;
}

#replace {
  width: 100px;
  height: 50px;
}

#re {
  border: 3px solid cyan;
  width: 1300px;
  height: 500px;
  text-align: center;
  background-color:	#808080;
  text-decoration: none;
  display: block;
  margin: auto;
}

#tts {
  font-style: italic;
  font-weight: bold;
  color: #A0522D;
  font-size: 20px;
  background-color:	#B8860B;
  font-family: cursive;
  font-size: 30px;
  height: 50px;
}

#input {
  margin-left: 400px;
  width: 500px;
  height: 280px;
}

#savename {
  margin-left: 2px;
  width: 270px;
  height: 30px;
}

td button {
  width: 140px;
  height: 50px;
}

#fileloading {
  width: 240px;
  height: 50px;
}
