/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    font-family: cursive;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #F7F8E0;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #A9F5D0;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background:  #CCCC9A;
    color: white;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #FFFFCC;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header, .footer{
    background-color: #E5E4D7;
    padding: 30px 40px;
    color: #FDAF6F;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

p {
  text-align: left;
  margin-left: 16%;
  color: #FFFFCC;
}

/* Style buttons */
.addBtn, .btnDelete, .btnCheck {
    padding: 10px;
    width: 15%;
    background: #FFCF79;
    color:  #2C6700;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.35s;
}

.addBtn:hover, .btnCheck:hover, .btnDelete:hover {
    background-color: #F1B74A;
}

.btnDelete{
    float: none;
}
