h1 {
	text-align: center
}
.task-input {
  margin: auto;
  width: 300px;
  display: block;
}
.btn-add {
  display: block;
  margin: auto;
  color: black;
  background-color: white;
  padding: 5px;
  font-size: 12px;
  border-color: black;
}
.btn-clear {
  display: block;
  color: red;
  background-color: white;
  padding: 5px;
  font-size: 12px;
  border-color: red;
}
